button.remove {
    visibility: hidden;
}

button.remove-visible {
    visibility: visible;
}

.chart-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    height: 15vh;
    width: 15vw;
}

  .btn-liked{
    color: #f03566;
  }

.btn-bookmarked{
    background: #ffff;
}

.nutritional.container{
    width: 50%;
    border-radius: 10px;
    background-color: rgb(246,186,78, 0.2);
    box-shadow: 10px 8px 5px lightgrey;
    /* z-index: 1;
    /* position:sticky;
    top: 18%; */ 
    padding: 2%;
    margin-top: 10rem; 
}

a{
    text-decoration: none;
    text-align: center;
    color: black;
}

.restaurant-cards
{
    margin-top: 20rem;
}

.bookmark-cards
{
    margin-top: 2rem;
}

.feed-container
{
    margin-top: 0rem;
}

.card-container{
    margin-top: 10rem;
}

img#restcard.card-img-top:hover{
    transform: scale(0.9)
}

.indexbutton{
    color: black;
    outline-color: black;
    border-color: black;
}

.indexbutton:hover{
    background-color: #5516bb;
}

.btn-primary{
    background-color: #5516bb;
    border: none;
}

.btn-primary:hover{
    background-color: #8143e5;
}

