button.remove {
  visibility: hidden;
}

button.remove-visible {
  visibility: visible;
}

.chart-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  height: 15vh;
  width: 15vw;
}

.btn-liked {
  color: #f03566;
}

.btn-bookmarked {
  background: #ffff;
}


a {
  text-decoration: none;
  text-align: center;
  color: black;
}

.restaurant-cards {
  margin-top: 20rem;
}

.bookmark-cards {
  margin-top: 2rem;
}

.feed-container {
  margin-top: 7rem;
}

.card-container {
  position: relative;
  margin-top: 13rem;
}

img#restcard.card-img-top:hover {
  transform: scale(0.9);
}

.indexbutton {
  color: black;
  outline-color: black;
  border-color: black;
}

.indexbutton:hover {
  background-color: #5516bb;
}

.btn-primary {
  background-color: #5516bb;
  border: none;
}

.btn-primary:hover {
  background-color: #8143e5;
}

.signup-container {
  margin-top: 10rem;
}

@media screen and (max-width: 480px) {
  #card {
    display: flex;
    justify-content: center;
  }

  #h1-restaurants {
    text-align: center;
  }

  canvas#myChart.chart-container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    width: 40vw;
    height: 40vh;
  }


  #post-icons {
    display: flex;
    align-items: center;
    margin-top: 1rem;
  }

  .landing-page {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

.card-title{
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

.text-content h2 {
  margin-top: 10px;
  cursor: pointer;
}


.modal-center {
  width: 80vw;
  border-radius: 10px;
  background-color: rgb(199, 199, 246);
  box-shadow: 10px 8px 5px lightgrey;
  z-index: 1;
  position:sticky;
  top: 18%;
  padding: 2%;
  margin-top: 8rem;
}

